<!-- <form class="example-form">
  <md-input-container class="example-full-width">
    <input mdInput placeholder="Введите название города">
  </md-input-container>
  <button md-raised-button color="primary"><md-icon>check</md-icon></button>
</form> -->

<!-- <md-input-container>
  <input mdInput placeholder="Favorite food" value="Sushi">
</md-input-container> -->

<md-toolbar color="primary">
  <span>My Company</span>
  <span class="example-spacer"></span>
  <button md-button><md-icon>menu</md-icon>Menu</button>
</md-toolbar>
<br>
<form>
  <md-input-container>
    <input mdInput placeholder="Введите название города" value="" class="all-width">
  </md-input-container>
</form>